<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinDesk2</title>

    @*Стили*@
    <partial name="Partial/_Styles" />
    @RenderSection("Styles", required: false)

</head>

<body>

    @*Заголовок*@
    <partial name="Partial/_Header" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*Подвал*@
    @*<partial name="Partial/_Footer" />*@

    @*Скрипты*@
    <partial name="Partial/_Scripts" />
    @RenderSection("Scripts", required: false)

</body>

</html>
