@model IssueViewModel

@{
    ViewData["Title"] = "Новый Запрос";
}

    <div class="container">
        <h2>View</h2>

        <h4>Issue</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Id" type="hidden" class="form-control" />

                    <div class="form-group">
                        <label asp-for="User" class="control-label"></label>
                        <input asp-for="User" class="form-control" readonly value="@User.Identity.Name" />
                        <span asp-validation-for="User" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IssueTS" class="control-label"></label>
                        <input asp-for="IssueTS" type="text" class="form-control" readonly value="@Model.IssueTS"/>
                        <span asp-validation-for="IssueTS" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IssueType" class="control-label"></label>
                        @*<input asp-for="IssueType" class="form-control" />*@
                        <select asp-for="IssueType" class="form-control">
                            <option value="Bug">Bug (проблема)</option>
                            <option value="Task">Task (Задача)</option>
                            <option value="Change">Change (Изменение)</option>
                            <option value="Project">Project (Проект)</option>
                         </select>
                        <span asp-validation-for="IssueType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="Category" class="form-control">
                            <option value="SunSystems">SunSystems</option>
                            <option value="Vision">Vision</option>
                            <option value="Collect">Collect</option>
                            <option value="1C Cash">1C Cash</option>
                            <option value="1C Trade">1C Trade</option>
                            <option value="1C Trade Exp">1C Trade Exp</option>
                            <option value="1C Duty Billing">1C Duty Billing</option>
                            <option value="1C Duty Billing Exp">1C Duty Billing Exp</option>
                            <option value="1C Edo">1C Edo</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LongDescr" class="control-label"></label>
                        <input asp-for="LongDescr" class="form-control" />
                        <span asp-validation-for="LongDescr" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Status" class="control-label"></label>*@
                        <input asp-for="Status" type="hidden"  class="form-control" value="New"/>
                        @*<span asp-validation-for="Status" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="SolveTS" class="control-label"></label>*@
                        <input asp-for="SolveTS" type="hidden" class="form-control" />
                        @*<span asp-validation-for="SolveTS" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="SolveDescr" class="control-label"></label>*@
                        <input asp-for="SolveDescr" type="hidden" class="form-control" />
                        @*<span asp-validation-for="SolveDescr" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="SolveUser" class="control-label"></label>*@
                        <input asp-for="SolveUser" type="hidden" class="form-control" />
                        @*<span asp-validation-for="SolveUser" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>

