@model FinDesk2.Models.Issue

@{
    ViewData["Title"] = "View";
}

    <div class="container">
        <h2>View</h2>

        <h4>Issue</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input asp-for="Id" type="hidden" class="form-control" />

                    <div class="form-group">
                        <label asp-for="User" class="control-label"></label>
                        <input asp-for="User" class="form-control" />
                        <span asp-validation-for="User" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IssueTS" class="control-label"></label>
                        <input asp-for="IssueTS" class="form-control" />
                        <span asp-validation-for="IssueTS" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LongDescr" class="control-label"></label>
                        <input asp-for="LongDescr" class="form-control" />
                        <span asp-validation-for="LongDescr" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SolveTS" class="control-label"></label>
                        <input asp-for="SolveTS" class="form-control" />
                        <span asp-validation-for="SolveTS" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SolveDescr" class="control-label"></label>
                        <input asp-for="SolveDescr" class="form-control" />
                        <span asp-validation-for="SolveDescr" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SolveUser" class="control-label"></label>
                        <input asp-for="SolveUser" class="form-control" />
                        <span asp-validation-for="SolveUser" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>

