@model SimpleIssueViewModel

@{
    ViewData["Title"] = "Запрос #:" + Model.Id;
}

<h3>@ViewData["Title"]</h3>

<div class="container">
    <h3>Задача №@Model.Id</h3>
    <p>Описание: @Model.LongDescr</p>
    <p>Пользователь: @Model.User</p>
</div>
<a asp-controller="SimpleIssue" asp-action="Index">Запросы</a>

