@model SimpleIssueViewModel

@{
    ViewData["Title"] = "Редактирование Запроса №: " + Model.Id;
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    @*@using (Html.BeginForm("Edit", "Employees", FormMethod.Post))
        {
        }*@

    @*<form asp-action="Edit" asp-route-Id="@Model.Id">*@
    <form asp-action="Edit" method="Post">
        <div class="row">
            <div class="col-md-4">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />

                <div class="form-group">
                    <label asp-for="User"></label>
                    <input asp-for="User" class="form-control" readonly />
                    <span asp-validation-for="User" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IssueTS"></label>
                    <input asp-for="IssueTS" class="form-control" readonly />
                    <span asp-validation-for="IssueTS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IssueType"></label>
                    @*<input asp-for="IssueTypeId" class="form-control" readonly />*@
                    <select class="form-control" asp-for="IssueType" asp-items="ViewBag.IssueTypesSL"></select>
                    <span asp-validation-for="IssueType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category"></label>
                    @*<input asp-for="CategoryId" class="form-control" readonly />*@
                    <select class="form-control" asp-for="Category" asp-items="ViewBag.IssueGategoriesSL"></select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LongDescr"></label>
                    <textarea asp-for="LongDescr" class="form-control"></textarea>
                    <span asp-validation-for="LongDescr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IssueStatus"></label>
                    <select class="form-control" asp-for="IssueStatus" asp-items="ViewBag.IssueStatusesSL"></select>
                    <span asp-validation-for="IssueStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SolveDescr"></label>
                    <textarea asp-for="SolveDescr" class="form-control"></textarea>
                    <span asp-validation-for="SolveDescr" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>

    </form>

</div>
