@*Для тех кто не вошёл в систему*@
    <div class="mainmenu pull-left">
        <ul class="nav navbar-nav collapse navbar-collapse">
            <li><a asp-controller="Home" asp-action="Index" class="active">Главная</a></li>
            <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
            <li><a asp-controller="Issue" asp-action="Index">Issues</a></li>
            <li><a asp-controller="Account" asp-action="Login">Вход</a></li>
            <li><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
        </ul>
    </div>
